body{
	background: #E8EBDA;
	font-family: 'Roboto', sans-serif;
}

.navbar .navbar-brand{
	color: #494848;
}

.panel {
	width: 70%;
	margin: 0 auto;
}

.panel > .panel-heading{
	background: #4E714A;
	border: 1px solid #4E714A;
	color : #FFF;
}

table {
	font-size: 13px;
}

#editar{
	display: none;
	margin-bottom: 30px;
}

#form_solicitud{
	display: none;
	margin-bottom: 30px;
}

